.sentence {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 0;
}

.word {
  display: flex;
  padding: 20px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 0;
    border-bottom: solid 1px #cccccc;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.finded {
      font-size: 16px;
    }
  }

  &.over {
    li {
      font-size: 16px;
      color: #388E3C;

      &:not(.finded) {
        color: #D32F2F;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .word {
    padding: 12px;

    li {
      width: 20px;
      height: 20px;

      &.finded {
        font-size: 13px;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }
    }

    &.over {

      li {
        font-size: 13px;
      }
    }
  }
}